* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--index: calc(1vw + 1vh);
}
body {
    background-color: #141414;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.items {
    display: flex;
    gap: .4rem;
    perspective: 500px;
}

.item {
    background-color: #222;
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.items .item.hover {
    transform: translateZ(calc(var(--index) * 10));
}

/* Right*/

.items .item.hover + * {
    transform: translateZ(calc(var(--index) * 8.5));
    z-index: -1;
}

.items .item.hover + * + * {
    transform: translateZ(calc(var(--index) * 5.6));
    z-index: -2;
}

.items .item.hover + * + * + * {
    transform: translateZ(calc(var(--index) * 2.4));
    z-index: -3;
}

.items .item.hover + * + * + * + * {
    transform: translateZ(calc(var(--index) * .6));
    z-index: -4;
}